USE [master]
GO
/****** Object:  Database [InventoryTracker]    Script Date: 3/30/2017 9:49:01 AM ******/
CREATE DATABASE [InventoryTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryTracker', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.ADK\MSSQL\DATA\InventoryTracker.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InventoryTracker_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.ADK\MSSQL\DATA\InventoryTracker_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryTracker]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/30/2017 9:49:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemN] [int] NOT NULL,
	[Description] [nchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[QntyOnHand] [int] NOT NULL,
	[SelfCost] [float] NOT NULL,
	[TotalValue] [float] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
